$color-primary: #ff6060;
$color-secondary: #863535;
$background-dark: rgba(0, 0, 0, 0.119);
$grid-background-light: white;
$footer-background-color: black;
$background-light: #f6f6f6;
$color-tertiary: white;